
body{
 border:ridge;
 border-color:black;
 border-width: 5px;

}

iframe{
    border:solid;
    margin-top:10px;
    height:500px;
    width:285px;


}

button{
  margin-left:10px;
}

