body{
    text-align:center;
    background: linear-gradient(to right, rgb(178, 69, 146), rgb(241, 95, 121));

}

img {
    height:140px;
    width:140px;
    border:solid;
}

h1{
    font-weight:bold;
    font-size:40px;
    margin:20px;
    text-decoration:underline;
}

h2{
    font-size:17px;
    font-weight:bold;

    
}

section{
    border:solid;
    margin-top:30px;
    height:400px;
    width:300px;
}

button{
    margin-top:10px;
    border:solid;
    background-color:orange;
    height:30px;
    width:80px;
    font-size:20px;
   margin-bottom:10px;
   font-weight: bold;
   transition: transition.2s;
}

button:hover{
    transform: scale(0.9);
}

a{
    border-color:none;
    color:none;
}